<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="value">
    <h1>Want to know how can i add Value to your organization</h1>
    <p></p>
</div>
<div class="achieve">
<div class="acboxes">
    <h1>Hackathons</h1>
    <img src="">
    <p></p>
</div>
</div>
</body>
</html>