<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="./css/portfolio.css">
</head>
<body>
    <div class="container">
    <div class="photo">
        <nav class="navbar">
            <h1>Sunita Bhat</h1>
            <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
            <ul id="navLinks" class="nav-links">
                <li><a href="#About">Home</a></li>
                <li><a href="#Projects">Projects</a></li>
                <!-- <li><a href="achievements">Achievements</a></li> -->
                <li><a href="#contacts">Contact Me</a></li>
                <li><a href="https://leetcode.com/u/ssbh888/">Leetcode</a></li>
                <li><a href="https://github.com/SunitaSBhat">Github</a></li>
                <li><a href="https://www.linkedin.com/in/sunita-bhat-55a13123a/">Linkedin</a></li>
            </ul>
        </nav>
    <section class="About" id="About">
    <div class="intro">
        <h3>Helloo!!</h3>
        <h1>I am Sunita Bhat</h1>
        <p>Software developer</p>
        <p>Hi there! My name is Sunita currently pursuing my final year btech in computer science. I am a Software developer who has interest in cloud and devops domains along with proficiency in full stack developement. I have knowledge in java and basics of dsa. Havev a look at my leetcode and github profiles.</p>
        <a href="./images/Sunita_s_Bhat_Resume__.pdf"><button id="resume">See My Resume</button></a>
    </div>
    <div class="img">
        <img src="./images/girl1.jpg">
    </div>
</section>
</div>
<section class="Projects" id="Projects">
    <div>
        <h1 id="projectHeading">Hey Have a Look At My Projects!!<h1>
        
    </div>
    <div class="project">
        <div class="box">
            <img src="./images/health.png">
            <h3>Blog website</h3>
            <p>This is my favorite projects. Which is mainly focused on mental health. People can post about thier mental health and get advice.</p>
            <a href="https://github.com/SunitaSBhat/realxMind" class="custom-button">Click Me</a>
        </div>
        <div class="box">
            <img src="./images/amazonClone.png">
            <h3>Amazon clone</h3>
            <p>This is an amazon cloning project where poeple can shop. Still adding feature</p>
            <a href="https://github.com/SunitaSBhat/EcommerceWebsite" class="custom-button">Click Me</a>
        </div>
        <div class="box">
            <img src="./images/awsImage.png">
            <h3>Terraform projects</h3>
            <p>In this project i have combined my knowledge in devops and cloud and automated the task of manually creating vpc and ec2 instance in aws</p>
            <a href="https://github.com/SunitaSBhat/TerraFormProject" class="custom-button">Click Me</a>
        </div>
        <div class="box" id="lastOne">
            <img src="./images/githubImage.webp">
            <h3>Open Source Contribution</h3>
            <p>Hey!! Dont forget to have a look at my github account where i have made a open source contribution along with my projects</p>
            <a href="https://github.com/SunitaSBhat" class="custom-button">Click Me</a>
        </div>
    </div>
</section>
<section class="skills">
    <h1>Curious about what i can Do??</h1>
    <div class="development">
        <div class="right">
            <img src="./images/full.jpg" id="bigOne">
        </div>
        <div class="left">
        <h2>Full stack development</h2>
        <div class="icons">
            <i class="fa-brands fa-css3-alt" id="css"></i>
            <i class="fa-brands fa-html5" id="css"></i>
            <i class="fa-brands fa-js" id="css"></i>
            <i class="fa-brands fa-node" id="css"></i>
            <i class="fa-brands fa-react" id="css"></i>
            <i class="fa-solid fa-database" id="css"></i>
            <i class="fa-brands fa-bootstrap" id="css"></i>
        </div>
        <ul>
            <li>Creating front end using React</li>
            <li>Creating backend in Node, express with RESTFULL api</li>
            <li>Storing data of website using mongodb</li>
        </ul>
    </div>
    </div>
    <div class="development">
        <div class="right">
            <img src="./images/cloud.jpg" id="bigOne">
        </div>
        <div class="left">
        <h2>Cloud Computing and Devops</h2>
       <div class="icons">
        <i class="fa-brands fa-aws" id="css"></i>
        <i class="fa-solid fa-cloud" id="css"></i>
        <i class="fa-brands fa-docker" id="css"></i>
       </div>
        <ul>
            <li>Hosting and maintaining websites on virtual machine instances</li>
            <li>Can work on AWS services</li>
            <li>Can work on docker and ansible and terraform</li>
            <li>Created terraform script to automate the aws creating ec2 instance along with vpc and subnets etc</li>
        </ul>
    </div>
    </div>
    <div class="development">
        <div class="right">
            <img src="./images/dsa.jpg" id="bigOne">
        </div>
        <div class="left">
        <h2>Data Structures and algorithms and Open source Contribution</h2>
       <div class="icons">
        <i class="fa-brands fa-java" id="css"></i>
        <i class="fa-brands fa-github" id="css"></i>
        <i class="fa-brands fa-git" id="css"></i>
       </div>
        <ul>
            <li>I have knowledge on basics of dsa</li>
            <li>I have got a 50 days badge on leetcode</li>
            <li>can work on arrays, linked list, string</li>
            <li>Contributed to repository and working on other repositories issues</li>
        </ul>
    </div>
    </div>
</section>
<section class="contacts" id="contacts">
<h2>Contact Me</h2>
<div class="contact">
   <div class="secondContact">
    <div class="conta">
        <div class="connect">
        <p>Connect With me</p>
    </div>
    <div class="connect">
        <p>email:ssbh888@gmail.com</p>
        <i class="fa-regular fa-envelope" id="conne"></i>
        </div>
        <div class="connect">
        <p>Github</p>
        <i class="fa-brands fa-github" id="conne"></i>
        </div>
        <div class="connect">
        <p>Linkedin</p>
        <i class="fa-brands fa-linkedin" id="conne"></i>
        </div>
        <div class="connect">
        <p>Leetcode</p>
        </div>
        <div class="connect">
        <p>Adress: Near udupi Mukka, Manglore</p>
        </div>
    </div>
    
    <div class="form" onsubmit="formWorker()">
        <form>
            <input type="text" placeholder="Enter your name">
            <input type="text" placeholder="Enter email">
            <input type="textarea" placeholder="Enter message">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
    </div>
</section>

<footer>
    <div id="line">
    <p id="footer">© Copyright 2024 - Developed by Sunita Bhat. All right reserved.</p>
</div>
</footer>
</div>
</body>
<script src="/portfoliohome.js" type="text/Javascript"></script>
<script src="https://kit.fontawesome.com/07cd577cce.js" crossorigin="anonymous"></script>
</html>